In [1]:
import seaborn as sns

In [2]:
planets = sns.load_dataset("planets")

In [5]:
df = planets.copy()

In [6]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [8]:
# is there any nan value

In [9]:
df.isnull().values.any()

np.True_

In [10]:
# if is, where

In [11]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [21]:
df.fillna({"orbital_period" : 0}, inplace=True)

In [23]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [24]:
df.fillna({"mass" : df.mass.mean()}, inplace=True)

In [26]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [68]:
df2 = df.loc[:,"orbital_period"]

In [70]:
df2.dtypes

dtype('float64')

In [73]:
 for column in df.columns:
    if (df[column].dtype == 'int64') or (df[column].dtype == 'float64'):
        df.fillna({"column": df[column].mean()}, inplace=True)

In [74]:
df.isnull().sum()

method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64

In [79]:
df3 = planets.copy()

In [80]:
df3.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [81]:
df3.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [83]:
df4 = df3.select_dtypes(include=["float64"])

In [85]:
df4.head()

   orbital_period   mass  distance
0         269.300   7.10     77.40
1         874.774   2.21     56.95
2         763.000   2.60     19.84
3         326.030  19.40    110.62
4         516.220  10.50    119.47

In [90]:
df4.fillna(df4.mean(), inplace=True)

In [91]:
df4.isnull().sum()

orbital_period    0
mass              0
distance          0
dtype: int64