In [15]:
import pandas as pd

In [10]:
df = pd.DataFrame({"groups": ["a", "b", "c", "a", "b", "c"],
                   "var1": [1,5,2,8,0,4],
                   "var2": [4,3,6,8,3,2]})

In [11]:
df

  groups  var1  var2
0      a     1     4
1      b     5     3
2      c     2     6
3      a     8     8
4      b     0     3
5      c     4     2

In [12]:
df.groupby("groups")

In [14]:
df.groupby("groups").aggregate(["min","median","max"])

       var1            var2
        min median max  min median max
groups
a         1    4.5   8    4    6.0   8
b         0    2.5   5    3    3.0   3
c         2    3.0   4    2    4.0   6

In [17]:
df.groupby("groups").aggregate({"var1": "min", "var2": "max"})

        var1  var2
groups
a          1     8
b          0     3
c          2     6