# ðŸ“¦ Pandas DataFrame Grouping

#### Â» Importing the Pandas library, usually abbreviated as `pd`

In [28]:
import pandas as pd

#### Â» Creating a DataFrame with a dictionary

In [29]:
df = pd.DataFrame({"groups": ["a", "b", "c", "a", "b", "c"],
                   "data": [1,5,6,8,3,10]})

In [30]:
df

  groups  data
0      a     1
1      b     5
2      c     6
3      a     8
4      b     3
5      c    10

#### Â» Creating a GroupBy object based on the specific column

In [31]:
df.groupby("groups")

#### Â» Accessing a specific group from the grouped object

In [32]:
df.groupby("groups").get_group("a")

  groups  data
0      a     1
3      a     8

#### Â» Calculating mean of each group in a specific grouped column

In [17]:
df.groupby("groups").mean()

        data
groups
a        4.5
b        4.0
c        8.0

#### Â» Viewing size of each group

In [18]:
df.groupby("groups").sum()

        data
groups
a          9
b          8
c         16

#### Â» Creating a GroupBy object on specific column and selecting a column

In [19]:
df.groupby("groups")["data"]

#### Â» Calculating mean of a specific column for each group

In [34]:
df.groupby("groups")["data"].mean()

groups
a    4.5
b    4.0
c    8.0
Name: data, dtype: float64

In [35]:
df.groupby("groups")[["data"]].mean()

        data
groups
a        4.5
b        4.0
c        8.0

#### Â» Calculating mean and sorting descending by group average

In [21]:
df.groupby("groups")["data"].mean().sort_values(ascending=False)

groups
c    8.0
a    4.5
b    4.0
Name: data, dtype: float64

#### Â» Calculating mean and sorting ascending by group average

In [23]:
df.groupby("groups")["data"].mean().sort_values(ascending=True)

groups
b    4.0
a    4.5
c    8.0
Name: data, dtype: float64

#### Â» Getting detailed statistics (count, mean, std, min, etc.) for each group of a column

In [22]:
df.groupby("groups")["data"].describe()

        count  mean       std  min   25%  50%   75%   max
groups
a         2.0   4.5  4.949747  1.0  2.75  4.5  6.25   8.0
b         2.0   4.0  1.414214  3.0  3.50  4.0  4.50   5.0
c         2.0   8.0  2.828427  6.0  7.00  8.0  9.00  10.0

#### Â» Transposing the result of group-wise describe for better readability

In [24]:
df.groupby("groups")["data"].describe().T

groups         a         b          c
count   2.000000  2.000000   2.000000
mean    4.500000  4.000000   8.000000
std     4.949747  1.414214   2.828427
min     1.000000  3.000000   6.000000
25%     2.750000  3.500000   7.000000
50%     4.500000  4.000000   8.000000
75%     6.250000  4.500000   9.000000
max     8.000000  5.000000  10.000000