In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({"groups": ["a", "b", "c", "a", "b", "c"],
                   "data": [1,5,6,8,3,2]})

In [4]:
df

  groups  data
0      a     1
1      b     5
2      c     6
3      a     8
4      b     3
5      c     2

In [8]:
df.groupby("groups")

In [9]:
df.groupby("groups").mean()

        data
groups
a        4.5
b        4.0
c        4.0

In [10]:
df.groupby("groups").sum()

        data
groups
a          9
b          8
c          8

In [11]:
df.groupby("groups")["data"]

In [12]:
df.groupby("groups")["data"].mean()

groups
a    4.5
b    4.0
c    4.0
Name: data, dtype: float64

In [13]:
df.groupby("groups")["data"].describe()

        count  mean       std  min   25%  50%   75%  max
groups
a         2.0   4.5  4.949747  1.0  2.75  4.5  6.25  8.0
b         2.0   4.0  1.414214  3.0  3.50  4.0  4.50  5.0
c         2.0   4.0  2.828427  2.0  3.00  4.0  5.00  6.0