# ðŸ“˜ Pandas Introduction

**Pandas Series** is a one-dimensional labeled array capable of holding any data type (integers, strings, floats, Python objects, etc.).  
It is built on top of NumPy and is a fundamental building block of the Pandas library, commonly used for labeled data operations and preprocessing tasks.

#### Â» Import the Pandas library, usually abbreviated as `pd`

In [1]:
import pandas as pd

#### Â» Create a Series from a list

In [2]:
series = pd.Series([10,2,3,5,1,2])
series

0    10
1     2
2     3
3     5
4     1
5     2
dtype: int64

#### Â» View the first few elements

In [3]:
series.head()

0    10
1     2
2     3
3     5
4     1
dtype: int64

#### Â» View the first n elements -> `series.head(n)`

In [4]:
series.head(2)

0    10
1     2
dtype: int64

#### Â» View the last few elements

In [28]:
series.tail()

1    2
2    3
3    5
4    1
5    2
dtype: int64

#### Â» View the last n elements -> `series.tail[n]`

In [6]:
series.tail(2)

4    1
5    2
dtype: int64

#### Â» Add n to each value -> `series + n`

In [5]:
series + 7

0    17
1     9
2    10
3    12
4     8
5     9
dtype: int64

#### Â» Subtract n from each value -> `series - n`

In [7]:
series - 2

0    8
1    0
2    1
3    3
4   -1
5    0
dtype: int64

#### Â» Multiply all values by n  -> `series * n`

In [8]:
series * 3

0    30
1     6
2     9
3    15
4     3
5     6
dtype: int64

#### Â» Divide all values by n -> `series / n`

In [9]:
(series / 2).astype(int)

0    5
1    1
2    1
3    2
4    0
5    1
dtype: int64

#### Â» Create a Series with custom labels

In [10]:
pd.Series([1,2,3,4,5], index=[1,2,3,4,5])

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [11]:
ser = pd.Series([1,2,3,4,5], index=["a","b","c","d","e"])
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

#### Â» Create a Series from a dictionary

In [12]:
dict_ = pd.Series({"a": 1, "b":2, "c":3})
dict_

a    1
b    2
c    3
dtype: int64

In [13]:
dic = {"a": 1, "b":2, "c":3}
pd.Series(dic)

a    1
b    2
c    3
dtype: int64

#### Â» Get the summary statistics of series

In [14]:
ser.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

#### Â» Get the mean of series

In [15]:
ser.mean()

np.float64(3.0)

#### Â» Get the standard deviation of series

In [16]:
ser.std()

1.5811388300841898

#### Â» Concatenate Series objects vertically (default axis=0)

In [17]:
pd.concat([ser, ser], axis=0)

a    1
b    2
c    3
d    4
e    5
a    1
b    2
c    3
d    4
e    5
dtype: int64

#### Â» Concatenate Series objects horizontally

In [18]:
pd.concat([ser, ser], axis=1)

   0  1
a  1  1
b  2  2
c  3  3
d  4  4
e  5  5