In [2]:
import pandas as pd
import numpy as np

In [3]:
?np.random.randint

Signature: np.random.randint(low, high=None, size=None, dtype=<class 'int'>)
Docstring:
randint(low, high=None, size=None, dtype=int)

Return random integers from `low` (inclusive) to `high` (exclusive).

Return random integers from the "discrete uniform" distribution of
the specified dtype in the "half-open" interval [`low`, `high`). If
`high` is None (the default), then results are from [0, `low`).

.. note::
    New code should use the `~numpy.random.Generator.integers`
    method of a `~numpy.random.Generator` instance instead;
    please see the :ref:`random-quick-start`.

Parameters
----------
low : int or array-like of ints
    Lowest (signed) integers to be drawn from the distribution (unless
    ``high=None``, in which case this parameter is one above the
    *highest* such integer).
high : int or array-like of ints, optional
    If provided, one above the largest (signed) integer to be drawn
    from the distribution (see above for behavior if ``high=None``).
    If array-like, must contain integer values
size : int or tuple of ints, optional
    Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
    ``m * n * k`` samples are drawn.  Default is None, in which case a
    single value is returned.
dtype : dtype, optional
    Desired dtype of the result. Byteorder must be native.
    The default value is long.

    .. versionadded:: 1.11.0

    .. warning::
      This function defaults to the C-long dtype, which is 32bit on windows
      and otherwise 64bit on 64bit platforms (and 32bit on 32bit ones).
      Since NumPy 2.0, NumPy's default integer is 32bit on 32bit platforms
      and 64bit on 64bit platforms.  Which corresponds to `np.intp`.
      (`dtype=int` is not the same as in most NumPy functions.)

Returns
-------
out : int or ndarray of ints
    `size`-shaped array of random integers from the appropriate
    distribution, or a single such random int if `size` not provided.

See Also
--------
random_integers : similar to `randint`, only for the closed
    interval [`low`, `high`], and 1 is the lowest value if `high` is
    omitted.
random.Generator.integers: which should be used for new code.

Examples
--------
>>> np.random.randint(2, size=10)
array([1, 0, 0, 0, 1, 1, 0, 0, 1, 0]) # random
>>> np.random.randint(1, size=10)
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

Generate a 2 x 4 array of ints between 0 and 4, inclusive:

>>> np.random.randint(5, size=(2, 4))
array([[4, 0, 2, 1], # random
       [3, 2, 2, 0]])

Generate a 1 x 3 array with 3 different upper bounds

>>> np.random.randint(1, [3, 5, 10])
array([2, 2, 9]) # random

Generate a 1 by 3 array with 3 different lower bounds

>>> np.random.randint([1, 5, 7], 10)
array([9, 8, 7]) # random

Generate a 2 by 4 array using broadcasting with dtype of uint8

>>> np.random.randint([1, 3, 5, 7], [[10], [20]], dtype=np.uint8)
array([[ 8,  6,  9,  7], # random
       [ 1, 16,  9, 12]], dtype=uint8)
Type:      method

In [4]:
m = np.random.randint(5,30, size=(5,3))

In [5]:
m

array([[19, 15,  8],
       [28, 11, 12],
       [ 8,  7, 24],
       [18,  7, 24],
       [ 7, 28,  9]])

In [7]:
df = pd.DataFrame(m, columns=["var1", "var2", "var3"])

In [8]:
df

   var1  var2  var3
0    19    15     8
1    28    11    12
2     8     7    24
3    18     7    24
4     7    28     9

In [9]:
#loc : used to make selections as defined

In [10]:
df.loc[0:3]

   var1  var2  var3
0    19    15     8
1    28    11    12
2     8     7    24
3    18     7    24

In [11]:
#iloc : makes selections based on the indexing logic

In [12]:
df.iloc[0:3]

   var1  var2  var3
0    19    15     8
1    28    11    12
2     8     7    24

In [13]:
df[0:3]

   var1  var2  var3
0    19    15     8
1    28    11    12
2     8     7    24

In [14]:
df.iloc[0,0]

np.int64(19)

In [15]:
df.loc[0:3, "var3"]

0     8
1    12
2    24
3    24
Name: var3, dtype: int64

In [20]:
df[0:3]["var3"]

0     8
1    12
2    24
Name: var3, dtype: int64

In [27]:
df[0:3][["var3", "var2"]]

   var3  var2
0     8    15
1    12    11
2    24     7