In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"groups": ["a", "b", "c", "a", "b", "c"],
                   "var1": [1,5,2,8,0,4],
                   "var2": [4,3,6,8,3,2]})

In [3]:
df

  groups  var1  var2
0      a     1     4
1      b     5     3
2      c     2     6
3      a     8     8
4      b     0     3
5      c     4     2

In [4]:
df["var1"]*3

0     3
1    15
2     6
3    24
4     0
5    12
Name: var1, dtype: int64

In [7]:
df.groupby("groups").transform(lambda x: x+x.mean())

   var1  var2
0   5.5  10.0
1   7.5   6.0
2   5.0  10.0
3  12.5  14.0
4   2.5   6.0
5   7.0   6.0

In [8]:
df.groupby("groups").transform(lambda x: (x+x.mean()) / x.std() )

       var1      var2
0  1.111168  3.535534
1  2.121320       inf
2  3.535534  3.535534
3  2.525381  4.949747
4  0.707107       inf
5  4.949747  2.121320