# ðŸ”§ Transformations for Numerical Data

Sometimes continuous numerical features need to be transformed into **discrete or categorical forms** for certain models.  
Two common approaches are **Binarization** and **KBinsDiscretizer**.

## ðŸ”¹ Binarization

- Converts numerical values into **0 or 1** based on a **threshold**.  

$x' = \begin{cases} 1 & \text{if } x > \text{threshold} \\ 0 & \text{otherwise}\end{cases}$

**Example**:  
- Income â†’ {> 3000 = 1, â‰¤ 3000 = 0}  

**Pros**:  
- Simplifies numeric features into binary categories.  
- Useful for **rule-based learning** or highlighting presence/absence.  

**Cons**:  
- Loses information about magnitude.  

## ðŸ”¹ KBinsDiscretizer

- Divides continuous values into **k discrete bins (intervals)**.  
- Each bin can be encoded in different ways:  
  - **Ordinal** â†’ each bin gets an integer label (0,1,2,â€¦).  
  - **One-Hot** â†’ each bin gets its own binary column.  
  - **Binary encoding** (rarely used).  

**Example**:  
- Age values â†’ binned into intervals:  
  - [0â€“18) â†’ 0, [18â€“35) â†’ 1, [35â€“60) â†’ 2, [60+) â†’ 3  

**Pros**:  
- Captures **non-linear relationships**.  
- Makes continuous data more interpretable.  

**Cons**:  
- Choice of number of bins **k** strongly affects results.  
- May lose fine-grained details.  

---

#### Â» Load the "tips" dataset

In [4]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Binarization

In [24]:
df_new = df[["size"]].astype("float")
df_new

     size
0     2.0
1     3.0
2     3.0
3     2.0
4     4.0
..    ...
239   3.0
240   2.0
241   2.0
242   2.0
243   2.0

[244 rows x 1 columns]

In [26]:
from sklearn import preprocessing
binarizer = preprocessing.Binarizer(threshold=2).fit(df_new)
binarizer.transform(df_new)

array([[0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.]])

## KBinsDiscretizer

In [29]:
from sklearn.preprocessing import KBinsDiscretizer
df = tips.copy()
dff = df.select_dtypes(include=["float64", "int64"])
dff.head()

   total_bill   tip  size
0       16.99  1.01     2
1       10.34  1.66     3
2       21.01  3.50     3
3       23.68  3.31     2
4       24.59  3.61     4

In [30]:
est = KBinsDiscretizer(n_bins=[3,2,2],encode="ordinal",strategy="quantile").fit(dff)
est.transform(dff)[0:10]

array([[1., 0., 1.],
       [0., 0., 1.],
       [1., 1., 1.],
       [2., 1., 1.],
       [2., 1., 1.],
       [2., 1., 1.],
       [0., 0., 1.],
       [2., 1., 1.],
       [1., 0., 1.],
       [0., 1., 1.]])