In [113]:
import seaborn as sns

In [114]:
dia = sns.load_dataset("diamonds")
df = dia.copy()
df = df.select_dtypes(include=["float64", "int64"])
df = df.dropna()
df.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [115]:
table = df["table"]
Q1 = table.quantile(0.25)
Q3 = table.quantile(0.75)
IQR = Q3 - Q1 #interquartile
low_lim = Q1 - 1.5 * IQR
high_lim = Q3 + 1.5 * IQR

In [116]:
outlier = table < low_lim

In [117]:
table[outlier]

1515     51.0
3238     50.1
3979     51.0
4150     51.0
5979     49.0
7418     50.0
8853     51.0
11368    43.0
22701    49.0
25179    50.0
26387    51.0
33586    51.0
35633    44.0
45798    51.0
46040    51.0
47630    51.0
Name: table, dtype: float64

In [118]:
import pandas as pd

In [119]:
table = pd.DataFrame(table)

In [120]:
table.shape

(53940, 1)

In [121]:
df_pure = table[~( ( table < low_lim ) | ( table > high_lim ) ).any(axis=1)]

In [122]:
df_pure

       table
0       55.0
1       61.0
3       58.0
4       58.0
5       57.0
...      ...
53935   57.0
53936   55.0
53937   60.0
53938   58.0
53939   55.0

[53335 rows x 1 columns]

In [123]:
df_pure.shape

(53335, 1)

In [124]:
df2 = dia.copy()

In [125]:
df2.shape

(53940, 10)

In [126]:
table2 = df2["table"]

In [127]:
table2.head()

0    55.0
1    61.0
2    65.0
3    58.0
4    58.0
Name: table, dtype: float64

In [128]:
table2[outlier]

1515     51.0
3238     50.1
3979     51.0
4150     51.0
5979     49.0
7418     50.0
8853     51.0
11368    43.0
22701    49.0
25179    50.0
26387    51.0
33586    51.0
35633    44.0
45798    51.0
46040    51.0
47630    51.0
Name: table, dtype: float64

In [144]:
df2.table.mean()

np.float64(57.45950597136705)

In [154]:
table2.loc[outlier] = df2["table"].mean()

/var/folders/rx/xk61zj3118j0d4ksj4gtp1ym0000gn/T/ipykernel_14464/1000888971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table2.loc[outlier] = df2["table"].mean()

In [131]:
table2[outlier]

1515     57.457184
3238     57.457184
3979     57.457184
4150     57.457184
5979     57.457184
7418     57.457184
8853     57.457184
11368    57.457184
22701    57.457184
25179    57.457184
26387    57.457184
33586    57.457184
35633    57.457184
45798    57.457184
46040    57.457184
47630    57.457184
Name: table, dtype: float64

In [132]:
# Data compression

In [133]:
df3 = dia.copy()

In [134]:
table3 = df3["table"]

In [135]:
table3.head()

0    55.0
1    61.0
2    65.0
3    58.0
4    58.0
Name: table, dtype: float64

In [136]:
table3[outlier]

1515     51.0
3238     50.1
3979     51.0
4150     51.0
5979     49.0
7418     50.0
8853     51.0
11368    43.0
22701    49.0
25179    50.0
26387    51.0
33586    51.0
35633    44.0
45798    51.0
46040    51.0
47630    51.0
Name: table, dtype: float64

In [142]:
table3.loc[outlier] = low_lim

/var/folders/rx/xk61zj3118j0d4ksj4gtp1ym0000gn/T/ipykernel_14464/121024155.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table3.loc[outlier] = low_lim

In [143]:
table3[outlier]

1515     51.5
3238     51.5
3979     51.5
4150     51.5
5979     51.5
7418     51.5
8853     51.5
11368    51.5
22701    51.5
25179    51.5
26387    51.5
33586    51.5
35633    51.5
45798    51.5
46040    51.5
47630    51.5
Name: table, dtype: float64